$LibreB-Reg: "Libre Baskerville Reg";
$LibreB-Bold: "Libre Baskerville Bold";
$DMSans-Reg: "DM Sans";

.cardcon {
    // border: 1px solid black;
    width: fit-content;
    flex-shrink: 1;
    margin-bottom: 38px;

    .top {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h1 {
            font-size: 28px;
            font-family: $LibreB-Bold;
            font-weight: 700;
            margin: 16px 0px;
        }

        p {
            font-family: $DMSans-Reg;
            font-size: 20px;
            font-weight: 400;
            max-width: 648px;
            margin: 0;
            margin-bottom: 20px;
            // border: 1px solid red;
        }

        button {
            width: 180px;
            height: 48px;
            background: #F9A322;
            box-shadow: -1px 1px 13px #654B24;
            border: none;
            border-radius: 7px;
            font-family: $DMSans-Reg;
            font-size: 24px;
            font-weight: 400;
            color: white;
        }


    }
}